<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Welcome to Recipe Book.</h1>
        <nav>
            <a href="/recipes">Recipes</a>
        </nav>
    </body>
</html>